celery
redis
requests
flower
dotenv
bs4
sqlalchemy
typing
datetime
pymysql
cryptography
aiofiles
aiohttp
asyncio
pydantic
gevent
greenletio
asgiref
asyncio_gevent
psycopg2-binary
uvicorn[standard]
fastapi
jinja2